<div class="clearfix"></div>
<footer>
    <p>
		<span style="text-align:left;float:left">&copy; 2018
			<a href="http://xxgc.sicau.edu.cn/"
               alt="Bootstrap_Metro_Dashboard">四川农业大学 信息工程学院 All rights reserved</a>
		</span>
    </p>
</footer>