<!-- start: Header -->
<div class="container-fluid-full">
    <div class="row-fluid">
        <!-- start: Main Menu -->
        <div id="sidebar-left" class="span2">
            <div class="nav-collapse sidebar-nav">
                <ul class="nav nav-tabs nav-stacked main-menu">
                    <li><a href="borrow.html"><i class="icon-bar-chart"></i><span class="hidden-tablet"> 借用申请</span></a></li>
                    <li><a href="borrowCheck.html"><i class="icon-bar-chart"></i><span class="hidden-tablet"> 借用检查</span></a></li>
                    <li><a href="returnApply.html"><i class="icon-bar-chart"></i><span class="hidden-tablet"> 归还申请</span></a></li>
                    <li><a href="return.html"><i class="icon-envelope"></i><span class="hidden-tablet"> 归还检查</span></a></li>
                    <li><a href="suggestReply.html"><i class="icon-envelope"></i><span class="hidden-tablet"> 意见/建议反馈</span></a></li>
                    <li><a href="history.html"><i class="icon-tasks"></i><span class="hidden-tablet"> 借用/归还记录查询</span></a></li>
                    <li><a href="update.html"><i class="icon-eye-open"></i><span class="hidden-tablet"> 设备更新</span></a></li>
                    <li><a href="classUpdate.html"><i class="icon-eye-open"></i><span class="hidden-tablet"> 设备种类更新</span></a></li>
                    <li><a href="service.html"><i class="icon-dashboard"></i><span class="hidden-tablet"> 维修申请</span></a></li>
                    <li><a href="board.html"><i class="icon-edit"></i><span class="hidden-tablet"> 公告发布</span></a></li>
                    <li><a href="rate.html"><i class="icon-list-alt"></i><span class="hidden-tablet"> 值班表</span></a></li>
                </ul>
            </div>
        </div>
        <!-- end: Main Menu -->
        <noscript>
            <div class="alert alert-block span10">
                <h4 class="alert-heading">Warning!</h4>
                <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
            </div>
        </noscript>